h1{
    color: white;
}
body {
    background-image: url(img/gears-1236578_1920.jpg);
}

.card-body {
    background: #90a4ae;
    color: white;
}
.btn{
    margin-top: 10%;
    margin-left: 30%;
    text-decoration: none;
    background-color: white;
    padding: 15px 32px;
}
